/* src/pages/ProtectedPage.css */
.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.ant-btn-primary {
    width: 100%;
}

.ant-btn-link {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.mt-3 {
    margin-top: 15px;
}
